/* CSS Variables */
:root {
  --dark: #4d2b2f;
  --light: #e8e9eb;
  --yellow: #ffefc3;
  --pink: #f9e2ea;
}

/* Table of contents
  1. general styling
  2. navigation
  3. hero
  4. her collection 
  5. him collection 
  6. kiddos collection
  7. about-us
  8. footer
  9. media queries
*/

/* general styling */
html {
  box-sizing: border-box;
  font-family: "Fira Sans", Helvetica, sans-serif;
  color: var(--dark);
}

body {
  background: var(--light);
  margin: 0;
  line-height: 1.4;
}

h1,
h3,
h4 {
  font-family: Rubik, Helvetica, sans-serif;
}

img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.wrapper {
  display: grid;
  background-color: var(--light);
}

.btn {
  background-color: var(--dark);
  color: var(--yellow);
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
}

.collection {
  display: grid;
  width: 80%;
  margin: 12rem auto 1rem;
  text-align: center;
  padding-top: 2rem;
}

.collection h3 {
  text-align: center;
  font-size: 2rem;
  color: #4d2b2f;
  text-transform: capitalize;
  border: 1px solid #4d2b2f;
  width: fit-content;
  padding: 0 20px;
  border-radius: 5px;
  margin: 0 auto 2rem;
}

#you-style {
  text-decoration: underline;
}

/* navigation */
.main-nav {
  height: 200px;
  display: flex;
  position: fixed;
  background-color: var(--dark);
  width: 100%;
  align-items: center;
  opacity: 0.9;
  padding: 0.5rem 0 0 0.5rem;
}

.logo img {
  border-radius: 15%;
  max-width: 100%;
}

.main-nav ul {
  display: grid;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 20px;
  padding: 0;
  margin: 0 1rem 0 0;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
}

.main-nav li {
  border-left: 1px solid #ffefc3;
  border-right: 1px solid #ffefc3;
}

.main-nav a {
  font-size: 1.5rem;
}

.main-nav a:hover {
  font-size: 1.6rem;
  transition: all 0.15s;
}

.main-nav a:active {
  color: var(--pink);
  transition: all 0.15s;
}

/* hero */
.hero-container {
  background-image: url(https://images.unsplash.com/photo-1587563871167-1ee9c731aefb?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2031);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
  min-height: 900px;
  margin-top: 140px;
}

.hero {
  display: grid;
  grid-template-areas:
    "h1"
    "a";
  padding: 0;
  margin: 15rem 0 0 10rem;
}

.hero h1 {
  padding-bottom: 2rem;
  margin: 0;
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: 0;
  line-height: 1;
}

.hero em {
  font-weight: 100;
}

.hero button {
  width: 150px;
  background-color: var(--dark);
  border-radius: 10px;
  border: 1px solid #e8e9eb;
  padding: 5px;
}

.hero button:hover {
  background-color: var(--light);
  border: 2px solid #333;
  transition: all 0.15s;
}

.hero a {
  color: var(--light);
  text-decoration: none;
  font-size: 1.5rem;
}

.hero a:hover {
  color: var(--dark);
  font-size: 1.5rem;
  transition: all 0.15s;
}

/* her collection */
.her-collection {
  display: grid;
  gap: 2.5px 5px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.her-btn {
  width: 150px;
  background-color: var(--dark);
  border-radius: 10px;
  border: 1px solid #e8e9eb;
  padding: 5px;
  margin: 2rem auto 0;
}

.her-btn:hover {
  background-color: var(--light);
  border: 2px solid #333;
  transition: all 0.15s;
}

.her-btn a {
  color: var(--light);
  text-decoration: none;
  font-size: 1.5rem;
}

.her-btn a:hover {
  color: var(--dark);
  font-size: 1.5rem;
  transition: all 0.15s;
}

/* him collection */
.him-collection {
  display: grid;
  gap: 2.5px 5px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.him-btn {
  width: 150px;
  background-color: var(--dark);
  border-radius: 10px;
  border: 1px solid #e8e9eb;
  padding: 5px;
  margin: 2rem auto 0;
}

.him-btn:hover {
  background-color: var(--light);
  border: 2px solid #333;
  transition: all 0.15s;
}

.him-btn a {
  color: var(--light);
  text-decoration: none;
  font-size: 1.5rem;
}

.him-btn a:hover {
  color: var(--dark);
  font-size: 1.5rem;
  transition: all 0.15s;
}

/* kiddos collection */
.kiddo-collection {
  display: grid;
  gap: 2.5px 5px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.kiddo-btn {
  width: 150px;
  background-color: var(--dark);
  border-radius: 10px;
  border: 1px solid #e8e9eb;
  padding: 5px;
  margin: 2rem auto 0;
}

.kiddo-btn:hover {
  background-color: var(--light);
  border: 2px solid #333;
  transition: all 0.15s;
}

.kiddo-btn a {
  color: var(--light);
  text-decoration: none;
  font-size: 1.5rem;
}

.kiddo-btn a:hover {
  color: var(--dark);
  font-size: 1.5rem;
  transition: all 0.15s;
}

/* about-us */
.about-us {
  margin: 5rem auto;
  width: 90%;
}

.about-us h1 {
  padding: 0;
  margin: 6rem 0 3rem 0;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0;
  font-style: italic;
  text-align: center;
}

.statement {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-align: center;
  width: 80%;
  margin: 0 auto 6rem;
}

.statement img {
  max-width: 100%;
  border-radius: 10%;
}

.statement p {
  padding: 3rem;
  margin: 0;
  font-size: 2rem;
  line-height: 1.5;
  letter-spacing: 0;
  margin-bottom: 4rem;
}

.meet-us {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.member-container ul {
  margin: 0 1rem;
  padding: 0;
  list-style: none;
  text-align: center;
}

.member-container img {
  width: 100%;
  border-radius: 10%;
}

.member-container h4 {
  font-size: 1.5rem;
  padding: 0;
  margin: 1rem 0 0 0;
}

.member-container p {
  padding: 0;
  margin: 0;
}

/* footer */
footer {
  height: 100px;
  background-color: #4d2b2f;
  text-align: center;
}

footer p {
  color: #e8e9eb;
  margin: 40px auto;
}

/* media queries */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .hero {
    justify-items: center;
    align-items: center;
    margin: 15rem auto;
  }

  .collection {
    margin: 3rem auto 0;
  }

  .her-btn {
    margin: 2rem auto 0;
  }

  .him-btn {
    margin: 2rem auto 0;
  }

  .kiddo-btn {
    margin: 2rem auto 0;
  }

  .statement {
    width: 100%;
  }

  .meet-us {
    width: 100%;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .logo {
    width: 100%;
  }

  .main-nav ul {
    flex-direction: column;
    align-items: flex-start;
    margin: 0 3rem 0;
  }

  .main-nav li {
    border: none;
    line-height: 1;
  }

  .hero-container {
    margin-bottom: 3rem;
  }

  .hero {
    justify-items: center;
    align-items: center;
    margin: 15rem auto;
  }

  .collection {
    margin: 2.5rem auto;
    width: 100%;
  }

  .her-btn {
    margin: 1rem auto 0;
  }

  .him-btn {
    margin: 1rem auto 0;
  }

  .kiddo-btn {
    margin: 1rem auto 0;
  }

  .about-us {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .about-us h1 {
    margin: 3rem auto 2rem;
  }

  .statement {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .statement p {
    padding: 1rem;
    margin: 0 0 1rem 0;
  }

  .meet-us {
    width: 100%;
    flex-direction: column;
  }

  .member-container {
    margin: 0 auto 3rem;
  }

  .member-container h4 {
    margin: 0;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .logo {
    display: none;
  }

  .main-nav ul {
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
  }

  .main-nav li {
    border: none;
    line-height: 1;
  }

  .hero-container {
    margin: 100px auto 0;
    width: 100%;
  }

  .hero {
    margin: 8rem auto;
    display: inline-flex;
    flex-direction: column;
  }

  .hero h1 {
    font-size: 2rem;
    margin: 0 auto;
    padding: 1rem;
  }

  .hero a {
    font-size: 1rem;
  }

  .hero button {
    width: fit-content;
    margin: 0 auto;
  }

  .collection {
    margin: 0 auto;
    width: 100%;
  }

  .collection h3 {
    margin: 0 auto 1rem;
    font-size: 1.25rem;
  }

  .her-btn {
    width: 100px;
    margin: 1rem auto;
  }

  .her-btn a {
    font-size: 1rem;
  }

  .him-btn {
    width: 100px;
    margin: 1rem auto;
  }

  .him-btn a {
    font-size: 1rem;
  }

  .kiddo-btn {
    width: 100px;
    margin: 1rem auto;
  }

  .kiddo-btn a {
    font-size: 1rem;
  }

  .about-us {
    margin: 1rem auto;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .about-us h1 {
    font-size: 18px;
    margin: 1rem auto;
  }

  .statement {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
  }

  .statement p {
    margin: 0 0 1rem 0;
    padding: 0;
    font-size: 16px;
  }

  .meet-us {
    width: 100%;
    flex-direction: column;
  }

  .member-container h4 {
    margin: 0;
    font-size: 16px;
  }

  .member-container p {
    font-size: 16px;
  }
}
